################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ConsoleApp2/obj
/ConsoleApp2/bin
/UnitTests/obj
/UnitTests/bin

/.vs/ConsoleApp2/v17/.suo
